body {
    color: black;
    background-color: rgb(231, 229, 229);
    padding: 50px;
}

.links {
    text-align: left;
} 

.pagetitle {
    text-align: center;
    font-family: OpenSans-ExtraBold;
    font-size: x-large;
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}