body {
    color: black;
    background-color: rgb(231, 229, 229);
    padding: 50px;
    font-family: Karla;
}

.links {
    text-align: left;
} 

.pagetitle {
    text-align: center;
    font-family: Butler;
    font-size: x-large;
    
}

.inspirationblock {
    padding-right: 30%;
    padding-left: 30%;
}

.inspotextsection {

    padding-left: 30%;
    padding-right: 30%;
}

.inspoimage .inspotextsection {
    display: flex;
    flex-wrap: wrap;
}

.inspohead {
    text-align: left;
}

.links .pagetitle .emptyspace {
    display: flex;
    flex-wrap: wrap;
}

.recipeblock{
    display: flex;
    flex-wrap: wrap;
}

.foodphotos{
    display:flex;
    flex-wrap: wrap;
    flex: 33.3%;
    padding: 5px;

}

.navbar a:hover { 
    color: cadetblue;
}

.navbar a:visited{
    color: black;
}

.links {
    flex-wrap: wrap;
}

h2 { 
    font-family: Karla;
    font-size: x-large;
    text-align: center;
}

.parent {
    display: flex;
}

.col1, .col2, .col2 {flex: 1;}

@font-face {
    font-family: Karla;
    src: url(../fonts/Karla-Regular.ttf);
}

@font-face {
    font-family: SoehneBreit;
    src: url(../fonts/test-soehne-fett.woff);
}

@font-face {
    font-family: Butler;
    src: url(../fonts/Butler_Bold.otf);
}
